@import './config';
@import './globalClasses';

.welcomeSection {
  // background: linear-gradient(135deg, rgba(9, 47, 75, 1) 0%, rgba(10, 34, 77, 1) 44%, rgba(12, 14, 18, 1) 100%);
  background: linear-gradient(135deg, rgba(9, 47, 75, 1) 0%, rgba(10, 34, 77, 0.99) 44%, rgba(12, 14, 18, 0.95) 100%), url(../assets/img/welcome-bg.jpg) no-repeat center top/cover;
  animation: gradientBG 15s ease infinite;
  position: relative;
  z-index: 10;
}

header.sticky {
  z-index: 1000;
  position: fixed;
  width: 100%; 
  background: $bg-color;
  box-shadow: 0 0 3px setColor($bg-color);

  .headerContent {
    height: 80px;

    .logo {
      a {
        color: setColor($bg-color);

        &:before {
          background: setColor($bg-color);
        }
      }
    }

    .hamburger {
      span {
        background: setColor($bg-color);
      }
    }
  }
}

.headerContent {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 118px;
  position: relative;
  transition: 0.4s;

  .logo {
    a {
      text-decoration: none;
      color: $bg-color;
      font: 700 14px/100% $secondary-font;
      text-transform: uppercase;
      letter-spacing: 4px;
      display: flex;
      align-items: center;
      position: relative;

      &:before {
        content: '';
        background: $bg-color;
        opacity: 0.4;
        width: 1px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 42px;
        transform: translateY(-50%)
      }

      img {
        max-width: 25px;
        margin-right: 35px;
      }
    }
  }

  nav {
    .close {
      display: none;
    }
    ul {
      display: flex;
      flex-flow: row;
      li {
        padding: 0 15px;
        &:last-child {
          padding-right: 0
        }
        a {
          display: block;
          padding: 10px 0;
          border-bottom: 2px solid rgba(255,255,255,0);
          text-decoration: none;
          color: $bg-color;
          text-transform: uppercase;
          transition: 0.3s;
          font: 11px/100% $secondary-font;

          &:hover {
            border-bottom: 2px solid setSecondaryColor($bg-color);
          }
        }

        &.active a {
          border-bottom: 2px solid setSecondaryColor($bg-color);
        }
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    height: 25px;
    width: 25px;

    &.hamburgerHover {
      span:not(:nth-child(2)) {
        width: 70%;
        margin: 0 auto;
      }
    }
  
    span {
      display: block;
      height: 2px;
      background: $bg-color;
      transition: .3s;
  
      &:nth-child(2) {
        margin: 7px 0;
      }
    }
  }
}

.bannerContent {
  min-height: calc(100vh - 118px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerInfo {
  margin: -10% 0 0;
  color: $bg-color;
  text-align: center;
  position: relative;
  z-index: 10;

  h2 {
    font: 300 35px/100% $secondary-font;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 0 -2px 30px 0;
    opacity: 0.8;

    span {
      display: block;
      margin: 20px -15px 0 0;
      font: 400 60px/100% $primary-font;
      text-transform: uppercase;
      letter-spacing: 15px;
    }
  }

  a {
    padding: 15px 20px;
    text-decoration: none;
    border: 1px solid $secondary-color;
    text-transform: uppercase;
    // font: 500 18px/100% $primary-font;
    letter-spacing: 3px;
    display: inline-block;
    margin-right: -3px;
    color: $secondary-color;
    border-radius: 2px;
    opacity: 0.9;
  }
}

.homeArrowDown {
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);

  .fa {
    color: $bg-color;
    transform-style: preserve-3d;
    animation: home-arrow-down 2s linear infinite;
  }
}

#about {
  background: $bg-color;
  position: relative;
  z-index: 2;
}

.aboutContent {
  padding: 100px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  
  &::before {
    background: url(../assets/img/banner-layer.png) no-repeat bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.aboutInfo {
  max-width: 653px;

  h3 {
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: 700;
    line-height: 40px;
    opacity: 0.9;

    span {
      display: block;
    }
  }

  p {
    margin-bottom: 20px;
  }
}

.aboutImage {
  align-self: center;
  text-align: center;
  position: relative;

  img {
    width: 320px;
    border-radius: 50%;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    color: $bg-color;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 70%);
    height: 100%; 
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 20px 20px 40px;
  }

  h2 {
    font-size: 20px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 20px;
  }

  h3 {
    font-family: $primary-font;
    text-transform: uppercase;
  }
}

#services {
  background-color: setSecondaryBg($bg-color);
  position: relative;
  z-index: 1;
}

.servicesContent {
  padding: 100px 0;
  h3 {
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 30px;
    opacity: 0.9;
    text-align: center;
  }
}

.servicesItem {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  section {
    padding: 10px;
    text-align: center;
    border-radius: 3px;

    h2 {
      text-transform: capitalize;
      margin: 30px 0 30px;
      font: 700 18px/100% $secondary-font;

      span {
        display: block;
        margin: 10px 0 0;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      display: block;
    }

    &:last-child {
      &:hover {
        box-shadow: 0 0 5px rgba(0,0,0,0.3);

        .fa {
          color: setSecondaryColor($bg-color);
        }
      }
    }
  }
}

#testimonials {
  position: relative;
  background: $bg-color;
}

.testimonialsContent {
  padding: 100px 0;
}

.testimonialItem {
  text-align: center;

  p {
    font: 400 18px/25px $primary-font;
    margin: 0 0 20px;
  }

  h2 {
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    letter-spacing: 5px;
    font-weight: 700;
  }
}

.tns-nav {
  text-align: center;
  margin: 10px 0;

  & > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: 
    #ddd;
    border: 0;
  }

  & > .tns-nav-active {
    background: #999;
  }
}

#contacts {
  background-color: setSecondaryBg($bg-color);
}

.contactsContent {
  padding: 100px 0 120px;
}

.contactsBox {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.map {
  display: flex;
  height: 235px;
}

.contactForm {
  form {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    input[type="text"], input[type="email"] {
      width: 48%;
      box-sizing: border-box;
    }

    input[type="submit"] {
      padding: 10px 20px;
      font: 400 14px/100% $primary-font;
      text-transform: uppercase;
      letter-spacing: 3px;
      align-self: flex-start;
      color: setSecondaryBg($bg-color);
      background: setColor($bg-color);
      border: none;
      cursor: pointer;
      box-sizing: border-box;
    }
  }

  .formRow {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  
  textarea.formControl {
    height: auto;
    box-sizing: border-box;
  }
}

.contactInfo {
  ul {
    li {
      font-size: 14px;
      transition: .3s;
      line-height: 25px;
      margin-bottom: 10px;

      address {
        margin-top: 15px;
      }

      span {
        display: block;
      }

      a {
        text-decoration: none;
        color: setColor($bg-color);
        text-decoration: underline;
      }
    }
  }
}

footer {
  // background-color: darken($secondary-color, 2%);
}

.footerBtm {
  background-color: darken($secondary-color, 45%);

  .ftrBtmContent {
    padding: 20px 20px;
    text-align: center;
    font: 12px/100% $secondary-font;

    p {
      color: $bg-color;
     }
   
     a {
       color: setSecondaryColor($bg-color);
       text-decoration: none;
     }
  }  
}

@import './animations'